[Desktop Entry]
Type=Link
Name=Launcher Places
Name[cs]=Spouštěč - Místa
Name[es]=Sitios del Lanzador
Name[fr]=Lanceur du Raccourcis
Name[gl]=Lanzador Lugares
Name[it]=Launcher - Risorse
Name[ml]=ലോഞ്ചർ പ്ലേസ്സസ്
Name[pl]=Launcher - Miejsca
Name[pt]=Lançador - Locais
Name[ru]=Всё - Места
Name[sk]=Spúšťač - Miesta
Icon=e-module
Comment=Access folder bookmarks and mount drives.
Comment[cs]=Zpřístupní obsah adresářů a připojených disků.
Comment[es]=Accede a los marcadores de carpetas y monta unidades.
Comment[fr]=Accès aux signets des dossiers et aux volumes montés.
Comment[gl]=Accede ós marcadores dos cartafois e monta unidades.
Comment[it]=Accede ai segnalibri delle cartelle e monta le unità.
Comment[ml]=ഫോൾഡർ ബുക്ക്‌മാർക്കുകൾ ആക്‌സസ് കൂടാതെ ഡ്രൈവുകൾ മൌണ്ട് ചെയ്യുക. 
Comment[pl]=Umożliwia dostęp do zakładek folderów i montowanie dysków.
Comment[pt]=Acede ao conteúdo de diretórios e discos montados.
Comment[ru]=Доступ к закладкам каталогов и монтирование дисков.
Comment[sk]=Sprístupní obsah adresárov a pripojených diskov.
#Several different types available here. NEED TO DOC THESE.
X-Enlightenment-ModuleType=launcher
